.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.trash {
  width: 40px;
  height: 40px;
  background-image: url("../img/trash.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(172, 105, 105, 0);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}
.reset {
  width: 40px;
  height: 40px;
  background-image: url("../img/reset.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(172, 105, 105, 0);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}
